<h1 class="center">Fassler Color Method Interactive Painting Tool</h1>
<br>
<div class="well" id="outer-canvas">
	<div id="orange-cursor"></div>
	<div id="blue-cursor"></div>
	<div id="purple-cursor"></div>
	<div id="bold-cursor"></div>
	<div id="underline-cursor"></div>
	<div class="blue-circle"></div>
	<div class="orange-circle"></div>
	<div class="purple-circle"></div>
	<div class="bold-tool"><%= link_to(image_tag("bold.png", :alt => "Bold"), :remote => true) %></div>
	<div class="underline-tool"><%= link_to(image_tag("underline.png", :alt => "Underline"), :remote => true) %></div>
	<div class="tool-button">
		<button class="btn btn-large btn-success" id="paintingToolStart">Start!</button>
	</div>	
	<div class="clearfix"></div>

	<br>
	<div id="painting-canvas">
		<div class="pull-right correct">
    		<%= image_tag("correct.png", :alt => "Correct!") %>
    	</div>	
		<div id="floater"></div>
    	<div id="child">
			<p class="center painting-text-large" id="testSentence1">
				<span class="wordExample" id="paintWord10">I</span> <span class="wordExample" id="paintWord11">was</span> <span class="wordExample" id="paintWord12">surprised</span> <span class="wordExample" id="paintWord13">when</span> <span class="wordExample" id="paintWord14">he</span> <span class="wordExample" id="paintWord15">showed</span> <span class="wordExample" id="paintWord16">up</span> <span class="wordExample" id="paintWord17">to</span> <span class="wordExample" id="paintWord18">the</span> <span class="wordExample" id="paintWord19">office</span> <span class="wordExample" id="paintWord20">with</span> <span class="wordExample" id="paintWord21">purple</span> <span class="wordExample" id="paintWord22">and</span> <span class="wordExample" id="paintWord23">red</span> <span class="wordExample" id="paintWord24">hair</span>.
			</p>	
		</div>
	</div>
	<p class="painting-text">
		Example:
		<br>
		"<span class="blue">I</span> <strong>realiz</strong><span class="orange">ed</span> recently <span class="purple">that</span> [<span class="purple">what</span> <span class="blue">one</span> <strong>think</strong><span class="orange">s</span> about] <span class="underline">in</span> the shower <span class="underline">in</span> the morning <span class="orange">is</span> more important than <span class="blue">I</span><span class="orange">'d</span> <strong>thought</strong>." - Paul Graham
		<br>
	</p>
	<br>
  	<table class="table table-bordered table-hover">
  		<caption><h4>Fassler Color Method Key</h4></caption>
  		<tbody>
    		<tr>
		      <td><div class="blue-circle"></div></td>
		      <td><p id="painting-table">Blue words: subject</p></td>
    		</tr>
    		<tr>
		      <td><div class="orange-circle"></div></td>
		      <td><p id="painting-table">Orange words: auxiliary verb (did, does, will, would, can, could, etc.)</p></td>
    		</tr>
    		<tr>
		      <td><div class="purple-circle"></div></td>
		      <td><p id="painting-table">Purple words: "wh*"-words, "how", sometimes "that"</p></td>
    		</tr>
    		<tr>
		      <td><div class="bold-tool"><%= link_to(image_tag("bold.png", :alt => "Bold"), :remote => true) %></div></div></td>
		      <td><p id="painting-table">Bold words: action verbs</p></td>
    		</tr>
    		<tr>
		      <td><div class="underline-tool"><%= link_to(image_tag("underline.png", :alt => "Underline"), :remote => true) %></td>
		      <td><p id="painting-table">Underlined words: prepositions</p></td>
    		</tr>
  		</tbody>
	</table>
</div>	

<script>
$(function() {
	var color = 'none'
	
	var setcolor = function(c){
		console.log(c);
		color = c;
	}; 

	var customcursor = function (cursor) {
		$('body').mousemove(function(e){
			$(cursor).css('left', e.clientX + 10).css('top', e.clientY - 30);
			$(cursor).show();
			console.log(cursor)
		});
	};

	$('.orange-circle').click(function(){
		setcolor('orange');
		$('#purple-cursor').hide();
		$('#blue-cursor').hide();
		$('#bold-cursor').hide();
		$('#underline-cursor').hide();
		$('body').unbind("mousemove");
		customcursor($('#orange-cursor'));
	});

	$('.purple-circle').click(function(){
		setcolor('purple');
		$('#orange-cursor').hide();
		$('#blue-cursor').hide();
		$('#bold-cursor').hide();
		$('#underline-cursor').hide();
		$('body').unbind("mousemove");
		customcursor($('#purple-cursor'));
	});

	$('.blue-circle').click(function(){
		setcolor('blue');
		$('#purple-cursor').hide();
		$('#orange-cursor').hide();
		$('#bold-cursor').hide();
		$('#underline-cursor').hide();
		$('body').unbind("mousemove");
		customcursor($('#blue-cursor'));
	});

	$('.underline-tool').click(function(){
		setcolor('underline');
		$('#purple-cursor').hide();
		$('#orange-cursor').hide();
		$('#blue-cursor').hide();
		$('#bold-cursor').hide();
		$('body').unbind("mousemove");
		customcursor($('#underline-cursor'));
	});

	$('.bold-tool').click(function(){
		setcolor('bold');
		$('#purple-cursor').hide();
		$('#orange-cursor').hide();
		$('#blue-cursor').hide();
		$('#underline-cursor').hide();
		$('body').unbind("mousemove");
		customcursor($('#bold-cursor'));
	});

	var setcolorClick = function(id) {
		if ($('#' + id).hasClass(color)) {
			$('#' + id).removeClass(color);
		} else {
			$('#' + id).removeClass('orange');
			$('#' + id).removeClass('purple');
			$('#' + id).removeClass('blue');
			$('#' + id).removeClass('bold');
			$('#' + id).removeClass('underline');
			$('#' + id).addClass(color);
		}
	}

	$('#paintWord10').click(function(){
		setcolorClick('paintWord10');
	});
	$('#paintWord11').click(function(){
		setcolorClick('paintWord11');
	});
	$('#paintWord12').click(function(){
		setcolorClick('paintWord12');
	});
	$('#paintWord13').click(function(){
		setcolorClick('paintWord13');
	});
	$('#paintWord14').click(function(){
		setcolorClick('paintWord14');
	});
	$('#paintWord15').click(function(){
		setcolorClick('paintWord15');
	});
	$('#paintWord16').click(function(){
		setcolorClick('paintWord16');
	});
	$('#paintWord17').click(function(){
		setcolorClick('paintWord17');
	});
	$('#paintWord18').click(function(){
		setcolorClick('paintWord18');
	});
	$('#paintWord19').click(function(){
		setcolorClick('paintWord19');
	});
	$('#paintWord20').click(function(){
		setcolorClick('paintWord20');
	});
	$('#paintWord21').click(function(){
		setcolorClick('paintWord21');
	});
	$('#paintWord22').click(function(){
		setcolorClick('paintWord22');
	});
	$('#paintWord23').click(function(){
		setcolorClick('paintWord23');
	});
	$('#paintWord24').click(function(){
		setcolorClick('paintWord24');
	});
	$('#paintingToolStart').click(function(){
		$('#testSentence1').show();
	});
});	
</script>